---
import "../styles/global.css";
const { title = "The Formstore: Build & Share Beautiful Forms" } = Astro.props;
const description =
    "Create beautiful, customizable forms for events, surveys, and more. A new way to create, customize, and collect-responses— in seconds. FormStore helps you create aesthetic forms for anything – no code needed.",
  image = "https://the-formstore.com/formstore-logo-light.svg",
  url = "https://the-formstore.com";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/formstore-logo-light.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/formstore-logo-dark.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" href="/favicon.ico" sizes="any" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>The Formstore: Build & Share Beautiful Forms</title>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={url} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "FormStore",
        "url": "https://the-formstore.com/",
        "alternateName": "Formstore",
        "applicationCategory": "Form Builder",
        "operatingSystem": "All",
        "description": "Design-first, no-code form builder for creatives and professionals."
        // "offers": {
        //   "@type": "Offer",
        //   "price": "0",
        //   "priceCurrency": "INR"
        // },
        // "publisher": {
        //   "@type": "Organization",
        //   "name": "FormStore"
        // }
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
