---
import "../styles/global.css";
// Component Imports
import MainLayout from "@/layouts/main.astro";
import LandingForms from "@/components/homepage/landing-forms";
import { Plus } from "lucide-react";
import { AnimateSvg } from "@/components/homepage/animate";
import { cn } from "@/lib/utils";
import WaitlistButton from "@/components/homepage/waitlistButton";

const pageTitle = "TheFormstore: Create & Design Beautiful Forms";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout title={pageTitle}>
  <main class="relative max-w-full min-h-full overflow-hidden">
    <nav
      class="flex items-center justify-between py-2 px-3 fixed top-0 z-1 w-full bg-zinc-50/20 backdrop-blur-2xl"
    >
      <div class="flex items-center gap-2.5">
        <img src="/formstore-logo-light.svg" class="size-9" />
        <div class="text-lg leading-4 font-semibold">
          <h1 class="font-['Playfair_Display','serif'] italic">The</h1>
          <h1 class="">Formstore</h1>
        </div>
      </div>
      <!-- options -->
      <!-- <div class="bg-zinc-900 text-white rounded-4xl">
        <Button
          className="rounded-4xl backdrop-blur-2xl hover:scale-100 duration-250 transition-colors ease-in-out border-0  "
          variant={"ghost"}
        >
          About</Button
        >
        <Button
          className="rounded-4xl backdrop-blur-2xl hover:scale-100 duration-250 transition-colors ease-in-out border-0  "
          variant={"ghost"}
        >
          Pricing</Button
        >
        <Button
          className="rounded-4xl backdrop-blur-2xl hover:scale-100 duration-250 transition-colors ease-in-out border-0  "
          variant={"ghost"}
        >
          Solution</Button
        >
      </div> -->
      <!-- <div>nav tabs</div> -->
      <!-- login -->
      <!-- <div>
        <WaitlistButton client:load className="rounded-4xl" id="scroll-btn">
          Join Waitlist
        </WaitlistButton>
      </div> -->
    </nav>
    <section
      class={cn(
        "flex flex-col items-center justify-center gap-4 min-h-[550px] md:min-h-[500px] lg:min-h-[65vh] pt-4 px-4",
        "bg-gradient-to-t from-neutral-200/5 via-neutral-200/20 to-neutral-200/50"
      )}
    >
      <div class="flex flex-col items-center gap-1">
        <div
          class="border rounded-4xl py-0.5 px-2.5 text-sm w-fit bg-gradient-to-tr from-zinc-700 via-zinc-500 to-zinc-700 text-zinc-50 cursor-default"
        >
          Work in Progress!
        </div>
        <h1 class="text-xl font-semibold text-zinc-600">
          Welcome to <span
            class="font-['Playfair_Display','serif'] italic text-zinc-950 font-bold"
            >The</span
          >
          <span class="text-zinc-950 font-bold">Formstore</span>
        </h1>
      </div>
      <h2
        class="text-4xl lg:text-5xl 2xl:text-7xl md:px-4 max-w-3xl 2xl:max-w-4xl text-center font-['Playfair_Display','serif'] leading-14 lg:leading-18 2xl:leading-26 text-clip"
      >
        <span class="text-pink-600/85 bg-pink-200 rounded-full px-3">Build</span
        > Forms. <span
          class="text-purple-600/85 bg-purple-200 rounded-full px-3"
          >Collect</span
        > Responses. <span
          class="text-blue-600/85 bg-blue-200 rounded-full px-3"
          >Understand</span
        > People.
      </h2>

      <div class="text-xl 2xl:text-2xl leading-9 text-center">
        <span class="relative inline-block w-fit">
          <AnimateSvg
            width="100%"
            height="100%"
            viewBox="0 0 330 81"
            className="absolute translate-y-4.5 top-0 -z-[1] stroke-pink-500"
            path="M276.107 10.7667C258.31 28.3296 234.687 49.9446 218.918 18.406C204.994 -9.44212 183.022 5.05179 163.639 21.9074C157.838 26.9518 147.594 35.084 139.023 33.2603C131.032 31.5602 124.159 19.4215 117.166 15.0108C102.691 5.88068 78.6731 19.6982 64.5392 24.1355C43.8618 30.6273 24.6478 36.5711 3 33.6847"
            strokeColor="inherit"
            strokeWidth={9}
            strokeLinecap="round"
            animationDuration={1.5}
            animationDelay={0}
            animationBounce={0.3}
            reverseAnimation={false}
            enableHoverAnimation={true}
            hoverAnimationType="redraw"
            hoverStrokeColor="#4f46e5"
            client:load
          />
          Publish</span
        > stunning forms in minutes <span class="text-pink-500">&bull;</span>
        <span class="relative inline-block">
          <AnimateSvg
            width="100%"
            height="100%"
            viewBox="0 0 240 100"
            className="absolute translate-y-5 rotate-40 top-0 -z-[1] stroke-purple-500"
            path="M3 94.6748C27.4641 99.4874 46.3246 102.55 65.0444 83.8304C73.9796 74.8953 76.1503 62.8261 69.8444 51.4748C58.3692 30.8185 36.6188 61.9308 52.6 71.9193C81.897 90.2303 107.995 53.7887 112.155 28.3637C113.368 20.9544 114.609 12.5035 115 5.07481C115.339 -1.36878 117.032 6.28246 117.844 8.63037C119.35 12.9801 121.884 16.4674 123.356 20.7192C125.931 28.1593 122.746 21.3428 121.755 17.8748C118.913 7.92667 118.724 -1.31665 108.6 8.27481C106.563 10.205 95.3631 19.2352 97.3999 19.4748C103.175 20.1542 109.598 23.9571 115 24.2748C122.394 24.7098 126.464 27.2512 116.6 22.3192C113.382 20.71 110.214 19.6588 107 18.2304C101.703 15.8763 109.23 17.7389 109.844 18.2304C111.629 19.6579 116.523 20.3297 111.8 18.2304C110.584 17.6899 105.386 16.2748 107 16.2748C112.097 16.2748 118.803 21.3653 116.956 17.8748C115.403 14.9415 113.389 14.4872 110.2 14.6748C109.114 14.7386 105.166 17.8748 107 17.8748"
            strokeWidth={9}
            strokeColor="inherit"
            strokeLinecap="round"
            animationDuration={1.5}
            animationDelay={0}
            animationBounce={0.3}
            reverseAnimation={false}
            enableHoverAnimation={true}
            hoverAnimationType="redraw"
            hoverStrokeColor="#4f46e5"
            client:load
          />
          Share</span
        > anywhere <span class="text-purple-500">&bull;</span> Get real-time <span
          class="relative inline-block"
        >
          <AnimateSvg
            width="100%"
            height="100%"
            viewBox="0 0 100 100"
            className="absolute translate-y-3.5 scale-100 top-0 -z-[1] stroke-blue-500"
            path="M-11.94 44.90 Q62.57 89.42, 129.66 45.83"
            strokeWidth={5}
            strokeColor="inherit"
            strokeLinecap="round"
            animationDuration={1.5}
            animationDelay={0}
            animationBounce={0.3}
            reverseAnimation={false}
            enableHoverAnimation={true}
            hoverAnimationType="redraw"
            hoverStrokeColor="#4f46e5"
            client:load
          />
          insights</span
        >

        with zero setup.
      </div>
      <!-- 
    <p class="text-lg text-center">
      Whether you're collecting
      <span class="">feedback</span>,
      <span class="">leads</span>, or
      <span class="">signups</span>
      — do it fast with Formstore.
    </p> -->
      <div class="flex text-center items-center gap-4">
        <!-- <Button className="rounded-4xl"> Get Started — For Free</Button>
        <Button variant={"outline"} className="rounded-4xl border-zinc-600"
          ><Telescope />
          Explore Templates</Button
        > -->
        <WaitlistButton
          client:load
          className="rounded-4xl group"
          id="scroll-btn"
        >
          Join Waitlist
        </WaitlistButton>
      </div>
    </section>
    <div class="flex items-center justify-center px-2 sm:px-4" id="waitlist">
      <LandingForms client:load />
    </div>
    <AnimateSvg
      width="100%"
      height="100%"
      viewBox="0 0 250 100"
      className="absolute hidden -top-200 sm:-top-240 md:-top-150 -left-50 md:-left-80 -rotate-125 blur-2xl -z-[5] stroke-purple-200"
      path="M 223.00 10.00 C 92.00 21.01, 121.00 126.01, 10.00 179.00"
      strokeWidth={26}
      strokeColor="inherit"
      strokeLinecap="round"
      animationDuration={10}
      animationDelay={0}
      animationBounce={0.3}
      reverseAnimation={false}
      enableHoverAnimation={false}
      client:load
    />

    <AnimateSvg
      width="100%"
      height="100%"
      viewBox="0 0 250 100"
      className="absolute hidden translate-y-15 top-40 md:top-45 left-20 -rotate-15 rotate-y-180 blur-2xl -z-[5] stroke-lime-500 md:stroke-lime-200"
      path="M 223.00 10.00 C 92.00 21.01, 121.00 126.01, 10.00 179.00"
      strokeWidth={26}
      strokeColor="inherit"
      strokeLinecap="round"
      animationDuration={3}
      animationDelay={0}
      animationBounce={0.3}
      reverseAnimation={true}
      enableHoverAnimation={false}
      client:load
    />

    <div
      class={cn(
        "grid place-items-center h-full content-center mt-9 py-12 text-zinc-900 px-4 md:px-10 lg:px-16 "
        // "bg-gradient-to-t from-amber-200/50 via-amber-200/30 to-amber-200/0"
      )}
    >
      <!-- <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    > -->
      <div
        class="grid md:grid-cols-2 place-items-center h-full content-center w-full md:max-w-[80dvw] gap-8 md:gap-6 lg:gap-4"
      >
        <section class="px-2 md:px-4 grid max-md:max-w-[610px] gap-5 md:gap-4">
          <div
            class="text-4xl lg:text-6xl 2xl:text-7xl font-['Playfair_Display','serif'] font-medium leading-6 lg:leading-14 flex flex-wrap gap-2 text-clip"
          >
            How
            <div class="flex items-center gap-2">
              <img
                src="/formstore-logo-light.svg"
                class="size-8 lg:size-12 2xl:size-14 smix-blend-luminosity"
              />
              Formstore
            </div> Works
          </div>
          <div
            class="text-lg lg:text-xl mb-4 flex items-center gap-2 text-clip"
          >
            Formstore makes it effortless to create surveys, lead forms,
            feedback collectors, and more — all without writing a single line of
            code. Just select form elements, choose your design, hit publish,
            and share your form anywhere in seconds.
          </div>
        </section>

        <div
          class="grid grid-cols-1 divide-y-[1.5px] divide-zinc-500/60 gap-6 lg:gap-3"
        >
          <section class="pb-6 px-2 grid gap-1.5">
            <h2
              class="font-semibold font-['Playfair_Display','serif'] text-2xl flex items-center gap-2"
            >
              <svg
                width="1"
                height="1"
                viewBox="0 0 1 1"
                fill="none"
                class="w-full h-full max-h-4 max-w-4"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.0669973 0.0638959L0.0639233 0.0672249C0.0359803 0.0951588 0.0161483 0.130152 0.00654426 0.168471C-0.00306075 0.20679 -0.00207675 0.246996 0.00939026 0.284799C0.0208573 0.322602 0.0423773 0.356585 0.0716533 0.38312C0.100929 0.409655 0.136863 0.427748 0.175621 0.435467L0.500214 0.499999L0.435142 0.175547C0.42736 0.136907 0.409251 0.101096 0.382741 0.0719188C0.35623 0.0427409 0.322307 0.0212869 0.284575 0.00983595C0.246844 -0.00161503 0.206714 -0.00263503 0.168449 0.00688295C0.130185 0.0164019 0.0949583 0.0361039 0.0669973 0.0638959L0.500214 0.499999L0.0639233 0.933029L0.0669973 0.936102C0.0949433 0.964034 0.129952 0.983857 0.168287 0.993457C0.206622 1.00306 0.246845 1.00208 0.284666 0.990612C0.322485 0.97915 0.356482 0.957639 0.383029 0.928376C0.409576 0.899112 0.427676 0.863193 0.435398 0.824452L0.500214 0.499999L0.175621 0.564787C0.136863 0.572506 0.100929 0.590599 0.0716533 0.617134C0.0423773 0.643669 0.0208573 0.677652 0.00939026 0.715455C-0.00207675 0.753259 -0.00306075 0.793465 0.00654426 0.831784C0.0161483 0.870102 0.0359803 0.905095 0.0639233 0.933029L0.936504 0.0669689L0.93343 0.0638959C0.905484 0.0359639 0.870475 0.0161409 0.83214 0.00654095C0.793805 -0.00305903 0.753582 -0.00207603 0.715762 0.00938595C0.677942 0.0208479 0.643945 0.0423589 0.617399 0.0716218C0.590852 0.100886 0.572752 0.136805 0.56503 0.175547L0.500214 0.499999L0.824806 0.434955C0.863462 0.427176 0.899288 0.409075 0.928478 0.382576C0.957667 0.356076 0.97913 0.322167 0.990586 0.284453C1.00204 0.246739 1.00306 0.206626 0.993541 0.168378C0.984018 0.130129 0.964308 0.0949178 0.936504 0.0669689L0.500214 0.499999L0.565286 0.824452C0.573068 0.863091 0.591177 0.898902 0.617687 0.928079C0.644198 0.957257 0.678121 0.97871 0.715852 0.990162C0.753583 1.00161 0.793713 1.00264 0.831977 0.993115C0.870242 0.983596 0.905213 0.963894 0.933173 0.936102L0.936248 0.933029C0.964121 0.905088 0.983892 0.870114 0.993455 0.831831C1.00302 0.793547 1.00202 0.753388 0.990555 0.715628C0.979093 0.677869 0.957602 0.643924 0.928369 0.617406C0.899136 0.590889 0.863513 0.572792 0.824806 0.565043L0.500214 0.499999L0.0669973 0.0638959Z"
                  fill="black"></path>
              </svg> Add Your Questions
            </h2>
            <p class="leading-5.5 text-lg text-start">
              Choose from text fields, ratings, checkboxes — whatever fits your
              story.
            </p>
          </section>

          <section class="pb-6 px-2 grid gap-1.5">
            <h2
              class="font-semibold font-['Playfair_Display','serif'] text-2xl flex items-center gap-2"
            >
              <svg
                width="1"
                height="1"
                viewBox="0 0 1 1"
                fill="none"
                class="w-full h-full max-h-4 max-w-4"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.0669973 0.0638959L0.0639233 0.0672249C0.0359803 0.0951588 0.0161483 0.130152 0.00654426 0.168471C-0.00306075 0.20679 -0.00207675 0.246996 0.00939026 0.284799C0.0208573 0.322602 0.0423773 0.356585 0.0716533 0.38312C0.100929 0.409655 0.136863 0.427748 0.175621 0.435467L0.500214 0.499999L0.435142 0.175547C0.42736 0.136907 0.409251 0.101096 0.382741 0.0719188C0.35623 0.0427409 0.322307 0.0212869 0.284575 0.00983595C0.246844 -0.00161503 0.206714 -0.00263503 0.168449 0.00688295C0.130185 0.0164019 0.0949583 0.0361039 0.0669973 0.0638959L0.500214 0.499999L0.0639233 0.933029L0.0669973 0.936102C0.0949433 0.964034 0.129952 0.983857 0.168287 0.993457C0.206622 1.00306 0.246845 1.00208 0.284666 0.990612C0.322485 0.97915 0.356482 0.957639 0.383029 0.928376C0.409576 0.899112 0.427676 0.863193 0.435398 0.824452L0.500214 0.499999L0.175621 0.564787C0.136863 0.572506 0.100929 0.590599 0.0716533 0.617134C0.0423773 0.643669 0.0208573 0.677652 0.00939026 0.715455C-0.00207675 0.753259 -0.00306075 0.793465 0.00654426 0.831784C0.0161483 0.870102 0.0359803 0.905095 0.0639233 0.933029L0.936504 0.0669689L0.93343 0.0638959C0.905484 0.0359639 0.870475 0.0161409 0.83214 0.00654095C0.793805 -0.00305903 0.753582 -0.00207603 0.715762 0.00938595C0.677942 0.0208479 0.643945 0.0423589 0.617399 0.0716218C0.590852 0.100886 0.572752 0.136805 0.56503 0.175547L0.500214 0.499999L0.824806 0.434955C0.863462 0.427176 0.899288 0.409075 0.928478 0.382576C0.957667 0.356076 0.97913 0.322167 0.990586 0.284453C1.00204 0.246739 1.00306 0.206626 0.993541 0.168378C0.984018 0.130129 0.964308 0.0949178 0.936504 0.0669689L0.500214 0.499999L0.565286 0.824452C0.573068 0.863091 0.591177 0.898902 0.617687 0.928079C0.644198 0.957257 0.678121 0.97871 0.715852 0.990162C0.753583 1.00161 0.793713 1.00264 0.831977 0.993115C0.870242 0.983596 0.905213 0.963894 0.933173 0.936102L0.936248 0.933029C0.964121 0.905088 0.983892 0.870114 0.993455 0.831831C1.00302 0.793547 1.00202 0.753388 0.990555 0.715628C0.979093 0.677869 0.957602 0.643924 0.928369 0.617406C0.899136 0.590889 0.863513 0.572792 0.824806 0.565043L0.500214 0.499999L0.0669973 0.0638959Z"
                  fill="black"></path>
              </svg>
              Select a Design
            </h2>
            <p class="leading-5.5 text-lg text-start">
              Match your mood or brand with beautiful, ready-made themes.
            </p>
          </section>

          <section class="pb-6 px-2 grid gap-1.5">
            <h2
              class="font-semibold font-['Playfair_Display','serif'] text-2xl flex items-center gap-2"
            >
              <svg
                width="1"
                height="1"
                viewBox="0 0 1 1"
                fill="none"
                class="w-full h-full max-h-4 max-w-4"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.0669973 0.0638959L0.0639233 0.0672249C0.0359803 0.0951588 0.0161483 0.130152 0.00654426 0.168471C-0.00306075 0.20679 -0.00207675 0.246996 0.00939026 0.284799C0.0208573 0.322602 0.0423773 0.356585 0.0716533 0.38312C0.100929 0.409655 0.136863 0.427748 0.175621 0.435467L0.500214 0.499999L0.435142 0.175547C0.42736 0.136907 0.409251 0.101096 0.382741 0.0719188C0.35623 0.0427409 0.322307 0.0212869 0.284575 0.00983595C0.246844 -0.00161503 0.206714 -0.00263503 0.168449 0.00688295C0.130185 0.0164019 0.0949583 0.0361039 0.0669973 0.0638959L0.500214 0.499999L0.0639233 0.933029L0.0669973 0.936102C0.0949433 0.964034 0.129952 0.983857 0.168287 0.993457C0.206622 1.00306 0.246845 1.00208 0.284666 0.990612C0.322485 0.97915 0.356482 0.957639 0.383029 0.928376C0.409576 0.899112 0.427676 0.863193 0.435398 0.824452L0.500214 0.499999L0.175621 0.564787C0.136863 0.572506 0.100929 0.590599 0.0716533 0.617134C0.0423773 0.643669 0.0208573 0.677652 0.00939026 0.715455C-0.00207675 0.753259 -0.00306075 0.793465 0.00654426 0.831784C0.0161483 0.870102 0.0359803 0.905095 0.0639233 0.933029L0.936504 0.0669689L0.93343 0.0638959C0.905484 0.0359639 0.870475 0.0161409 0.83214 0.00654095C0.793805 -0.00305903 0.753582 -0.00207603 0.715762 0.00938595C0.677942 0.0208479 0.643945 0.0423589 0.617399 0.0716218C0.590852 0.100886 0.572752 0.136805 0.56503 0.175547L0.500214 0.499999L0.824806 0.434955C0.863462 0.427176 0.899288 0.409075 0.928478 0.382576C0.957667 0.356076 0.97913 0.322167 0.990586 0.284453C1.00204 0.246739 1.00306 0.206626 0.993541 0.168378C0.984018 0.130129 0.964308 0.0949178 0.936504 0.0669689L0.500214 0.499999L0.565286 0.824452C0.573068 0.863091 0.591177 0.898902 0.617687 0.928079C0.644198 0.957257 0.678121 0.97871 0.715852 0.990162C0.753583 1.00161 0.793713 1.00264 0.831977 0.993115C0.870242 0.983596 0.905213 0.963894 0.933173 0.936102L0.936248 0.933029C0.964121 0.905088 0.983892 0.870114 0.993455 0.831831C1.00302 0.793547 1.00202 0.753388 0.990555 0.715628C0.979093 0.677869 0.957602 0.643924 0.928369 0.617406C0.899136 0.590889 0.863513 0.572792 0.824806 0.565043L0.500214 0.499999L0.0669973 0.0638959Z"
                  fill="black"></path>
              </svg>
              Hit Publish
            </h2>
            <p class="leading-5.5 text-lg text-start">
              Your form goes live instantly. Share the link, and watch the
              responses roll in.
            </p>
          </section>
        </div>
      </div>
    </div>

    <!-- <div
      class={cn(
        "grid place-items-center h-full content-center py-12 text-zinc-900 px-4 md:px-10 lg:px-16 gap-12",
        "bg-gradient-to-b from-neutral-300/50 via-neutral-300/30 to-neutral-300/0"
      )}
    >
      <h2
        class="font-['Playfair_Display','serif'] text-2xl md:text-3xl lg:text-4xl"
      >
        Forms That Make People Feel Special ✨
      </h2>
      <div
        class="flex items-center justify-center h-full content-center w-full max-md:max-w-[610px] gap-8 md:gap-6 lg:gap-4"
      >
        <section
          class="h-55 border w-full max-w-xl bg-orange-400 text-white p-6 rounded-4xl relative"
        >
          <img
            src="/user-icon.png"
            alt="fun_user_icon"
            class="absolute right-2.5 top-2.5 size-20"
          />
          asdfasdf
        </section>
        <section
          class="h-55 border w-full max-w-xl bg-slate-950 text-gray-300 p-6 rounded-4xl relative"
        >
          <img
            src="/design-icon.png"
            alt="abstract_design_icon"
            class="absolute right-2.5 top-2.5 size-20"
          />

          asdfasdf
        </section>
      </div>
    </div> -->

    <div
      class={cn(
        "grid place-items-center h-full content-center pt-2 md:pt-12 pb-16 text-zinc-900 px-4 md:px-10 lg:px-16 gap-12"
        // "bg-gradient-to-b from-amber-200/50 via-amber-200/30 to-amber-200/0"
      )}
    >
      <section class="flex flex-col items-start px-2 w-full md:max-w-[80dvw]">
        <h2
          class="font-['Playfair_Display','serif'] font-bold text-2xl md:text-3xl lg:text-4xl"
        >
          Forms That Make People Feel Special
        </h2>

        <br />

        <div
          class="flex items-center gap-3 py-3 border-b-[1.5px] border-zinc-500/60"
        >
          <!-- <Plus strokeWidth={2}/> -->
          <svg
            width="1"
            height="1"
            viewBox="0 0 1 1"
            class="w-full h-full max-h-4 max-w-4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.0669973 0.0638959L0.0639233 0.0672249C0.0359803 0.0951588 0.0161483 0.130152 0.00654426 0.168471C-0.00306075 0.20679 -0.00207675 0.246996 0.00939026 0.284799C0.0208573 0.322602 0.0423773 0.356585 0.0716533 0.38312C0.100929 0.409655 0.136863 0.427748 0.175621 0.435467L0.500214 0.499999L0.435142 0.175547C0.42736 0.136907 0.409251 0.101096 0.382741 0.0719188C0.35623 0.0427409 0.322307 0.0212869 0.284575 0.00983595C0.246844 -0.00161503 0.206714 -0.00263503 0.168449 0.00688295C0.130185 0.0164019 0.0949583 0.0361039 0.0669973 0.0638959L0.500214 0.499999L0.0639233 0.933029L0.0669973 0.936102C0.0949433 0.964034 0.129952 0.983857 0.168287 0.993457C0.206622 1.00306 0.246845 1.00208 0.284666 0.990612C0.322485 0.97915 0.356482 0.957639 0.383029 0.928376C0.409576 0.899112 0.427676 0.863193 0.435398 0.824452L0.500214 0.499999L0.175621 0.564787C0.136863 0.572506 0.100929 0.590599 0.0716533 0.617134C0.0423773 0.643669 0.0208573 0.677652 0.00939026 0.715455C-0.00207675 0.753259 -0.00306075 0.793465 0.00654426 0.831784C0.0161483 0.870102 0.0359803 0.905095 0.0639233 0.933029L0.936504 0.0669689L0.93343 0.0638959C0.905484 0.0359639 0.870475 0.0161409 0.83214 0.00654095C0.793805 -0.00305903 0.753582 -0.00207603 0.715762 0.00938595C0.677942 0.0208479 0.643945 0.0423589 0.617399 0.0716218C0.590852 0.100886 0.572752 0.136805 0.56503 0.175547L0.500214 0.499999L0.824806 0.434955C0.863462 0.427176 0.899288 0.409075 0.928478 0.382576C0.957667 0.356076 0.97913 0.322167 0.990586 0.284453C1.00204 0.246739 1.00306 0.206626 0.993541 0.168378C0.984018 0.130129 0.964308 0.0949178 0.936504 0.0669689L0.500214 0.499999L0.565286 0.824452C0.573068 0.863091 0.591177 0.898902 0.617687 0.928079C0.644198 0.957257 0.678121 0.97871 0.715852 0.990162C0.753583 1.00161 0.793713 1.00264 0.831977 0.993115C0.870242 0.983596 0.905213 0.963894 0.933173 0.936102L0.936248 0.933029C0.964121 0.905088 0.983892 0.870114 0.993455 0.831831C1.00302 0.793547 1.00202 0.753388 0.990555 0.715628C0.979093 0.677869 0.957602 0.643924 0.928369 0.617406C0.899136 0.590889 0.863513 0.572792 0.824806 0.565043L0.500214 0.499999L0.0669973 0.0638959Z"
              fill="black"></path>
          </svg>
          <p class="text-lg lg:text-xl text-start">
            Your users aren’t just clicks. They’re humans. And your form should
            feel like a conversation, not a chore.
          </p>
        </div>
        <div
          class="flex items-center gap-3 py-3 border-b-[1.5px] border-zinc-500/60"
        >
          <!-- <Plus strokeWidth={2} /> -->
          <svg
            width="1"
            height="1"
            viewBox="0 0 1 1"
            fill="none"
            class="w-full h-full max-h-4 max-w-4"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.0669973 0.0638959L0.0639233 0.0672249C0.0359803 0.0951588 0.0161483 0.130152 0.00654426 0.168471C-0.00306075 0.20679 -0.00207675 0.246996 0.00939026 0.284799C0.0208573 0.322602 0.0423773 0.356585 0.0716533 0.38312C0.100929 0.409655 0.136863 0.427748 0.175621 0.435467L0.500214 0.499999L0.435142 0.175547C0.42736 0.136907 0.409251 0.101096 0.382741 0.0719188C0.35623 0.0427409 0.322307 0.0212869 0.284575 0.00983595C0.246844 -0.00161503 0.206714 -0.00263503 0.168449 0.00688295C0.130185 0.0164019 0.0949583 0.0361039 0.0669973 0.0638959L0.500214 0.499999L0.0639233 0.933029L0.0669973 0.936102C0.0949433 0.964034 0.129952 0.983857 0.168287 0.993457C0.206622 1.00306 0.246845 1.00208 0.284666 0.990612C0.322485 0.97915 0.356482 0.957639 0.383029 0.928376C0.409576 0.899112 0.427676 0.863193 0.435398 0.824452L0.500214 0.499999L0.175621 0.564787C0.136863 0.572506 0.100929 0.590599 0.0716533 0.617134C0.0423773 0.643669 0.0208573 0.677652 0.00939026 0.715455C-0.00207675 0.753259 -0.00306075 0.793465 0.00654426 0.831784C0.0161483 0.870102 0.0359803 0.905095 0.0639233 0.933029L0.936504 0.0669689L0.93343 0.0638959C0.905484 0.0359639 0.870475 0.0161409 0.83214 0.00654095C0.793805 -0.00305903 0.753582 -0.00207603 0.715762 0.00938595C0.677942 0.0208479 0.643945 0.0423589 0.617399 0.0716218C0.590852 0.100886 0.572752 0.136805 0.56503 0.175547L0.500214 0.499999L0.824806 0.434955C0.863462 0.427176 0.899288 0.409075 0.928478 0.382576C0.957667 0.356076 0.97913 0.322167 0.990586 0.284453C1.00204 0.246739 1.00306 0.206626 0.993541 0.168378C0.984018 0.130129 0.964308 0.0949178 0.936504 0.0669689L0.500214 0.499999L0.565286 0.824452C0.573068 0.863091 0.591177 0.898902 0.617687 0.928079C0.644198 0.957257 0.678121 0.97871 0.715852 0.990162C0.753583 1.00161 0.793713 1.00264 0.831977 0.993115C0.870242 0.983596 0.905213 0.963894 0.933173 0.936102L0.936248 0.933029C0.964121 0.905088 0.983892 0.870114 0.993455 0.831831C1.00302 0.793547 1.00202 0.753388 0.990555 0.715628C0.979093 0.677869 0.957602 0.643924 0.928369 0.617406C0.899136 0.590889 0.863513 0.572792 0.824806 0.565043L0.500214 0.499999L0.0669973 0.0638959Z"
              fill="black"></path>
          </svg>
          <p class="text-lg lg:text-xl text-start">
            With FormStore’s beautifully crafted designs, every survey feels
            personal. Every question feels thoughtful. Every submission feels
            appreciated.
          </p>
        </div>

        <br />
        <br />
        <p class="text-lg italic w-full text-center">
          Because when your forms look and feel great — your users feel valued.
        </p>
      </section>
    </div>
  </main>
</MainLayout>
